%div{id: identifier, class:"activitiesContainer"}
  - all_content&.each do |content|
    %div{id: "activity_#{content.id}"}
      %p.long-line2= content.name
      %p{class: content.css_class}
        = content.status
      .d-flex.justify-content-between
        %p
          = content.activity_type if content.instance_of? Activity
        = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail'}), poll_content_path(@match, content), id: "go_to_#{content.id}"
      %hr.section
