.contain.center-vertical
  .main-content.small
    .judge
      .button-group
        %a.button.pill{:href => "main#index"} En espera
        %a.button.pill{:href => "activities#show"} Todas
      %h3
        = t('user.judge.activities.on_old.remember')
        %span
          = t('user.judge.activities.on_old.objetive')
      - @activities&.each do |activity|
        .column
          %p= link_to activity.name, judge_activity_path(activity)
          %p= activity.activity_type
          %p= activity.locations.first&.name
          %p= activity.status
