.contain.center-vertical
  .main-content.small
    .judge
      .button-group
        %a.button.pill{:href => "main#index"} En espera
        %a.button.pill{:href => "activities#show"} Todas
      %h3
        = t('user.judge.activities.on_old.remember')
        %span.text.red
          = t('user.judge.activities.on_old.objetive')
      - @activities&.each do |activity|
        %p= activity.name
        .d-flex.justify-content-between
          %p
            = activity.activity_type
          = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail'}), judge_activity_path(activity)
        %hr.section
