.main-content.container.medium.mt-5
  .contain.center-vertical
    .main-cont
      .judge
        = render partial: 'judge/form'
        %div{id: "on_hold_activities_container", class:"activitiesContainer"}
          - @on_hold_activities&.sort_by{|activity| activity.created_at}.each do |activity|
            %div{id: "activity_#{activity.id}"}
              %p.long-line2= activity.name
              .d-flex.justify-content-between
                %p
                  = activity.activity_type
                = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail'}), judge_activity_path(activity), id: "go_to_#{activity.id}"
              %hr.section
        %div{id: "pending_activities_container", class:"activitiesContainer"}
          - @pending_activities&.sort_by{|activity| activity.created_at}.each do |activity|
            %div{id: "activity_#{activity.id}"}
              %p.long-line2= activity.name
              .d-flex.justify-content-between
                %p
                  = activity.activity_type
                = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail'}), judge_activity_path(activity), id: "go_to_#{activity.id}"
              %hr.section
        %div{id: "all_activities_container", class:"activitiesContainer"}
          - @all_activities&.sort_by{|activity| activity.created_at}.each do |activity|
            %div{id: "activity_#{activity.id}"}
              %p.long-line2= activity.name
              %p{class: activity.css_class}
                = activity.status
              .d-flex.justify-content-between
                %p
                  = activity.activity_type
                = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail'}), judge_activity_path(activity), id: "go_to_#{activity.id}"
              %hr.section