.container.center-vertical.activities-list
  .main-content.medium
    .text-right
      %p.right-info.mb-0
        %strong 
          = "#{t('labels.welcome')},"
        = "#{current_user.email.remove('@michelada.io')}!"
      = link_to  destroy_user_session_path, method: :delete do
        = t('labels.sign_out')

    %h3.mt-5
      %span.team=@team.name
    %p
      = t('labels.score')
      %span 
        = "#{@team_score || 0}"
    %hr
    %h3.mt-5.center-info.mb-3 
      = t('labels.best')
      %span
        = t('labels.effort')
    - @activities&.each do |activity|
      %div{id: "activity_#{activity.id}"}
        .d-flex.justify-content-between
          %p
            = activity.name
          %p.points
            = activity.score
        %p{class: activity.css_class}
          = activity.status
        .d-flex.justify-content-between
          %p
            = activity.activity_type
          = link_to render(partial: 'icons/arrow', locals: {custom_class: 'icon-detail', custom_color: '#F9CF26'}), activity_path(activity), id: "go_to_#{activity.id}"
        %hr.section

    - unless @my_activities.empty?
      %h3.mt-5.text-center.mb-3.team 
        = t('activities.my_activities')
      %br
      %table.activities-table
        %thead.mb-3
          %tr
            %th 
              = t('labels.name')
            %th.text-center
              = t('labels.type')
            %th.text-center
              = t('activities.status')
            %th.text-right
              = t('buttons.actions')
        %tbody
          - @my_activities&.each do |activity|
            %tr
              %td
                = link_to activity.name, activity_path(activity.id)
              %td.text-center
                = activity.activity_type
              %td.text-center{class: activity.css_class}
                = activity.status 
              %td.text-right.activity-actions
                = link_to image_tag('ic-edit'), edit_activity_path(activity) unless activity.status == 'Aprobado'
                = link_to image_tag('ic-delete'), activity_path(activity), class:'ml-2', method: :delete, data: {confirm: t('actions.confirm')}


    - if @team.users.count < 3
      .text-right.mt-5.mb-5
        = link_to t('labels.invite'), new_team_invitation_path
