.center-vertical.activities-list.admin-view
  .main-content.medium.container
    .text-right
      %p.right-info.mb-5
        %strong.mr-2 Welcome admin
    %h3.mb-4 
      = t('labels.admin')
    %table.w-100
      %tbody
        - @users.each do |user|
          %tr
            %td
              .user-mail= user.email.remove('@michelada.io')
            %td.text-right
              = simple_form_for(user, url: admin_user_manager_path(user)) do |f|
                = f.select :role, User.roles.keys, include_blank: false, label: false
                = f.button :submit, t('buttons.update'), class: 'btn-admin ml-2'
