.center-vertical.activities-list.admin-view
  .main-content.medium.container
    .text-right.mb-4
      %p.right-info
        %strong.mr-2
          = t('labels.welcome-admin')
      = link_to  destroy_user_session_path, method: :delete do
        = t('labels.sign_out')
    %h3.mb-4= t('labels.admin')
    %table.w-100
      %tbody
        - @users.each do |user|
          %tr
            %td
              .long-line= user.email.remove('@michelada.io').capitalize
            %td.text-right
              = simple_form_for(user, url: admin_user_manager_path(user)) do |f|
                = f.select :role, User.roles.keys, include_blank: false, label: false
                = f.button :submit, t('buttons.update'), class: 'btn-admin ml-2'
            %td.text-right.poll-actions
              = link_to image_tag('ic-delete'), admin_user_manager_path(user), method: :delete, data: {confirm: t('actions.confirm')}

