.main-content.container.medium.mt-5
  .contain.center-vertical.admin-poll
    - unless @polls.empty?
      %h3.mt-5.text.center.mb-3.poll
        = t('poll.title')
      %br
      %table.activities-table
        %thead.mb-3
          %tr
            %th
              = t('labels.polls')
            %th.text-center
              = t('poll.votes')
            %th.text-right
              = t('buttons.actions')
        %tbody
          - @polls&.each do |poll|
            %tr
              %td
                = t('votes.vote_range', start_date: poll.start_date, end_date: poll.end_date)
              %td.text-center
                = poll.votes.count
              %td.text-right.poll-actions
                = link_to image_tag('ic-edit'), edit_admin_match_poll_path(@match, poll)
                = link_to image_tag('ic-delete'), admin_match_poll_path(@match, poll), method: :delete, data: {confirm:t('actions.confirm') }
    %br
    = link_to t('poll.create_new'), new_admin_poll_path, class: 'button' if allowed_to_create_poll
