.center-vertical.admin-poll
  .main-content.medium.container
    %h3 
      = t('poll.title')
    %p
      = t('labels.start_date')
      = @poll.start_date
    %p
      = t('labels.end_date')
      = @poll.end_date

    - @poll.activities.group('activities.id').each do |activity|
      %p
        = "#{activity.name} : #{activity.votes.count}"
