= simple_form_for [:admin, @match] do |f|
  = f.error :base
  .form-group
    %p
      = t('labels.start_date')
      = f.date_select :start_date, start_year: Date.today.year, end_year: Date.today.year+1, class: "form-control"
  .form-group
    %p
      = t('labels.end_date')
      = f.date_select :end_date, start_year: Date.today.year, end_year: Date.today.year+1, class: "form-control"
  .form-match-group
    = f.input :match_type, disabled:  @match.persisted?, label: t('labels.match_type'), label_html: { class: 'match_center' }, input_html: { class: 'input-text' }, include_blank: false, collection: Match.match_types.keys
  = f.button :submit, option, class: 'button'
