%p
  %h3
    = t('labels.match_type')
  = @match.match_type
%p
  %h3
    = t('labels.version')
  = @match.version
%p 
  %h3
    = t('labels.start_date')
  = @match.start_date
%p
  %h3
    = t('labels.end_date')
  = @match.end_date
