.center-content-vertical
  .main-content.container.medium
    %h3= t("devise.invitations.new.header")

    = form_with(url: team_invitations_path, method: "post") do |f|
      = f.label :email, t("user.email")
      = f.text_field :email, class: 'input-text'
      = f.submit t("devise.invitations.new.submit_button"), class: 'button'
