.center-content-vertical
  .main-content.container.medium
    %h3= t("devise.invitations.new.header")

    = form_with(url: match_team_invitations_path(@match), method: "post") do |f|
      = f.label :email, t("user.email")
      = f.text_field :email, class: 'input-text', required: :true
      = f.submit t("devise.invitations.new.submit_button"), class: 'button'
