= t("devise.invitations.new.header")

= form_tag(team_invitations_path, method: "post") do
  = label_tag(:email, "Correo")
  = text_field_tag(:email)
  = submit_tag(t("devise.invitations.new.submit_button"))