%header
  - if user_signed_in?
    .container.header
      = link_to match_main_index_path do
        - if @match.content_match?
          = image_tag 'mcm-logo', alt: 'mcm-logo', height: 60, class: 'company-logo'
        - elsif @match.project_match?
          = image_tag 'mpm-logo', alt: 'mpm-logo', height: 60, class: 'company-logo'
        - else
          = image_tag 'michelada-logo', alt: 'michelada-logo', height: 60, class: 'company-logo'
      .nav
        - if @match.content_match?
          = link_to new_match_activity_path(@match) do
            = render partial: 'icons/ic_activities', locals: {is_active: controller_path == 'activities' }
        - elsif @match.project_match? && can_upload_project?
          = link_to new_match_project_path(@match) do
            = render partial: 'icons/ic_activities', locals: {is_active: controller_path == 'projects' }
        = link_to  match_main_index_path(@match) do
          = render partial: 'icons/ic_top', locals: {is_active: controller_path == 'main' }
        = link_to  new_match_team_path(@match) do
          = render partial: 'icons/ic_team', locals: {is_active: controller_path == 'teams' }
        - if current_user.judge?
          = link_to match_judge_main_index_path(@match) do
            = render partial: 'icons/ic_judge', locals: {is_active: ((controller_path.include?('judge')) && controller_path != 'judge/polls') }
        - if poll_for_vote
          = link_to  match_poll_path(@match, @match.poll) do
            = render partial: 'icons/ic_poll', locals: {is_active: controller_path == 'polls' }
