.container.center-vertical.polls
  .main-content.medium.mt-5
    %h2.text.red.text-center.mb-5
      = t('labels.vote')
    .mb-2
      %p.message.text-center
        = t('labels.last_day')
      %p.message.text-center
        = @poll.end_date
    %br
      .mb-1
        %table
          %tbody
            - @activity_types.each do |type|
              %tr
                %td{colspan: 3}
                  %h2.mt-4= type.activity_type
              %tr
                %td
                  = t('placeholders.activity_name')
                %td.text-center
                  = t('votes.number')
                %td.text-center
                  = t('buttons.actions')
              - @activities.each do |activity|
                -if activity.activity_type == type.activity_type
                  %tr
                    %td
                      = link_to activity.name, activity_path(activity)
                    %td.text-center
                      = activity.votes.count
                    %td.text-center
                      - if activity.votes.where(user: current_user.id).empty?
                        = link_to '', poll_activity_votes_path(@poll.id, activity), method: :post, class:'activity-vote'
                      -else
                        = link_to '', poll_activity_vote_path(@poll.id, activity, activity.votes.where(user: current_user.id).first.id), method: :delete, data: { confirm: t('actions.remove_vote')}, class:'activity-vote voted'
