%h3.mb-2
  = @poll.end_date
%br
- @activities.group(:activity_type).select(:activity_type).each do |type|
  .mb-4
    %h3
      = type.activity_type
    %table
      %thead
        %tr
          %td
            = t('placeholders.activity_name')
          %td
            = t('votes.number')
          %td 
            = t('buttons.actions')
      %tbody
        - @activities.each do |activity|
          -if activity.activity_type == type.activity_type
            %tr
              %td
                = link_to activity.name, activity_path(activity)
              %td
                = activity.votes.count
              %td
                = link_to t('votes.vote'), poll_activity_votes_path(@poll.id, activity), method: :post
