.container.center-vertical.polls
  .main-content.medium.mt-5
    %h2.text.red.text-center.mb-5
      = t('labels.vote')
    .mb-2
      %p.message.text-center
        = t('labels.last_day')
      %p.message.text-center
        = @poll.end_date
    %br
      .mb-1
        %table
          %tbody
            - @activity_types.each do |type|
              %tr
                %td{colspan: 3}
                  %h2.mt-4= type.activity_type
              %tr
                %td
                  = t('placeholders.activity_name')
                %td.text-center
                  = t('buttons.actions')
              - @poll.activities&.sort_by{|act| act.name.capitalize}&.each do |activity|
                -if activity.activity_type == type.activity_type
                  %tr
                    %td
                      = link_to activity.name, match_activity_path(@match, activity.id)
                    %td.text-center
                      - if @activities_votes.map(&:activity_id).exclude?(activity.id)
                        -if current_user.judge?
                          = link_to '', match_judge_poll_activity_votes_path(@match, @poll.id, activity.id), method: :post, class:'activity-vote'
                        -else
                          = link_to '', match_poll_activity_votes_path(@match, @poll.id, activity.id), method: :post, class:'activity-vote'
                      -else
                        -if current_user.judge?
                          = link_to '', match_judge_poll_activity_vote_path(@match, @poll.id, activity.id, @activities_votes.select{ |vote| vote.activity_id == activity.id }), method: :delete, data: { confirm: t('actions.remove_vote')}, class:'activity-vote voted'
                        -else
                          = link_to '', match_poll_activity_vote_path(@match, @poll.id, activity.id, activity.votes.where(user: current_user.id).first.id), method: :delete, data: { confirm: t('actions.remove_vote')}, class:'activity-vote voted'

