.center-content-vertical
  .container.main-content.medium
    .image-content
      = image_tag 'michelada_white_one', alt: 'michelada', width: '250', class: 'image-michelada'

    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
      = f.hidden_field :invitation_token, readonly: true
      - if f.object.class.require_password_on_accepting
        %p= f.label :password, t('user.password')
        = f.password_field :password, class: 'input-text'
        - if @minimum_password_length
          %em
            = t("user.password_requirement")
        %p= f.label :password_confirmation, t('user.password_confirmation'), class: 'mt-4'
        = f.password_field :password_confirmation, class: 'input-text'
      = f.submit t("devise.invitations.edit.submit_button"), class: 'button'
