.center-content-vertical
  .container.main-content.medium
    .image-content
      = image_tag 'mcm-logo', alt: 'michelada', width: '250', class: 'michelada-icon'
    .information-content
      = bootstrap_form_for(resource, as: resource_name, url:  invitation_path(resource_name), html: { method: :put }) do |f|
        = f.hidden_field :invitation_token, readonly: true
        - if f.object.class.require_password_on_accepting
          .field
            = f.password_field :password, label: t('user.password'), class: 'input-text password-field'
            = f.label t("activerecord.errors.models.user.attributes.password_confirmation.confirmation"),id: 'label-password', :hidden => true
            - if @minimum_password_length
              %em= t("user.password_requirement")
          .field
            = f.password_field :password_confirmation, label: t('user.password_confirmation'), class: 'input-text password-field'
            = f.label t("activerecord.errors.models.user.attributes.password_confirmation.confirmation"),id: 'label-password-confirmation', :hidden => true
        = f.submit t("devise.invitations.edit.submit_button"), class: 'button', id: 'validation-button'
