= simple_form_for (@activity) do |f|
  .location_list_elements
    %input{:type=>"text", :hidden => true, :name => "locations_string", :value => "", :id => "locations_string"}
    <input type="text" hidden="true" name=/>
  = f.input :name, label: t("labels.name"), placeholder: t("placeholders.activity_name")

  = f.label :location
  = f.select :location, @locations.map {|l| l.name}
  = link_to "Add", new_activity_path, id: "add_location"

  #other_location
    =f.input :location, label: t("labels.other_location")
  %a#add_new{href: "#"} Add
  
  .locations_list
    %ul
      - @selected_locations.each_with_index do |location, i|
        %li{id: i}= location[:name]
        %input{id:i, type: "button", value: "-"}
  
  = f.input :english, label: t("labels.english")
  %input{:type=>"submit"}
