.container.center-vertical.activities
  .main-content.small
    = simple_form_for (@activity) do |f|
      .location_list_elements
        %input{:type=>"text", :hidden => true, :name => "locations_string", :value => "", :id => "locations_string"}
    
      %label
        = t('labels.type')
      = f.select :activity_type, Activity.activity_types.keys, include_blank: false
      = f.input :name, label: t("labels.name"),  input_html: { class: 'input-text' }
      = f.input :description, label: "Descripcion"
      .optional-fields
        #pitch-audience
          = f.input :pitch_audience, label: "Intended Audience"
        #abstract-outline
          = f.input :abstract_outline, label: "Outline"

      .row
        .col-sm-6.col-xs-12.mb-3
          %label.mt-0
            .location-publication
              = t("labels.location")
          - unless @locations.nil?
            = f.select :locations, @locations.sort_by{ |loc | loc.name.downcase }.map {|l| l.name}, class: 'location-select', prompt: "Select location"
        .col-sm-6.col-xs-12
          #other_location
            = f.input :locations, label: t("labels.other_location"), placeholder: t("placeholders.other_location"), input_html: { class: 'input-text add-location' }, label_html: { class: 'mt-0'}            

      .locations_list.tags_box
        %ul
          - loaded_locations = ""
          - unless @selected_locations.nil? 
            - @selected_locations.each_with_index do |location|
              %li{id: location[:id]}
                = location[:name]
                %a{id: location[:id]} x
              - loaded_locations += (location[:name]+"ß")
          %input{:type=>"text", :hidden=>"true", :id=>"loaded_locations", :value=>loaded_locations}

      = f.input :notes, label: t("labels.notes"), placeholder: t("placeholders.notes_description"), input_html: { class: 'input-text' }
      = f.input :english, label: t("labels.english"), input_html: {class: 'mt-0'} , label_html: { class: 'mt-0'}    
      
      - unless @activity.activity_file.file.nil?
        = "Archivo seleccionado: #{@activity.activity_file}"
      = f.file_field :activity_file

      %input{type: "submit", value: t("buttons.submit"), class: 'button'}
