.contain.center-vertical
  .main-content.medium
    .activities
      %h3.text.red= @activity.name
      %h5.mb-5= @activity.activity_type
      -if @activity.activity_type == 'Post'
        %h6.text= t('user.judge.activities.description') if @activity.description
        %p= @activity.description
      -else
        %h6.text=t('user.judge.activities.description') if @activity.description
        %p= @activity.description
        -if @activity.activity_type == "Curso"
          %h6.text= t('user.judge.activities.intended_audence') if @activity.pitch_audience
          %p= @activity.pitch_audience
          %h6.text= t('user.judge.activities.outline') if @activity.abstract_outline
          %p= @activity.abstract_outline
        -else
          %h6.text= t('user.judge.activities.pitch') if @activity.pitch_audience
          %p= @activity.pitch_audience
          %h6.text= t('user.judge.activities.abstract') if @activity.abstract_outline
          %p= @activity.abstract_outline

        - unless @activity.notes&.empty?
          %h6.text= t("labels.link")
          %p= @activity.notes
      -if @activity.english
        %p= t('labels.english')
      - unless @activity.locations.empty?
        .tags_box
          %ul
            - @activity.locations&.each do |events|
              %li
                = events.name
      - else
        %p= t('labels.not_location')
      - unless @activity.activity_file.url.nil? 
        = link_to t('labels.download'), @activity.activity_file.url, target: :_blank, class:'button'
      %hr.mt-5
      %h5.mt-5
        Comentarios
      - @activity.feedback.each do |feedback|
        %h6.gray= feedback.user.name? ? feedback.user.name : feedback.user.email
        %p.gray= feedback.comment
        %hr.section
      = simple_form_for [ @activity, @feedback] do |f|
        = f.input :comment, label: t('comments.create'), placeholder: t('placeholders.comment'), input_html: { class: 'input-text'}, required: false
        = f.button :submit, t('comments.create'), class: 'button'

