.contain.center-vertical
  .main-content.medium
    .activities
      %h3.text.red= @activity.name
      %h5
        = @activity.activity_type
        %em.points= "#{@activity.score} #{t('labels.points')}"
      - if @activity.activity_statuses.exists?
        %p
          = t('activities.approved_by', users: judges_appproves(@activity))
      -unless @activity.activity_type == 'Post'
        %h6.text.red.mt-4=t('user.judge.activities.description') if @activity.description
        %p= markdown(@activity.description)
        -if @activity.activity_type == "Curso"
          %h6.text.red= t('user.judge.activities.intended_audence') if @activity.pitch_audience
          %p= markdown(@activity.pitch_audience)
          %h6.text.red= t('user.judge.activities.outline') if @activity.abstract_outline
          %p= markdown(@activity.abstract_outline)
        -else
          %h6.text.red= t('user.judge.activities.pitch') if @activity.pitch_audience
          %p= markdown(@activity.pitch_audience)
          %h6.text.red= t('user.judge.activities.abstract') if @activity.abstract_outline
          %p= markdown(@activity.abstract_outline)

      - unless @activity.notes&.empty?
        %h6.text.red= t("labels.link")
        %p= @activity.notes
      -if @activity.english
        %h6.text.red= t('labels.english')
        %p
          - if @activity.english_approve
            = image_tag('ic-checked', :class => "check-activity approve-#{@activity.english_approve}")
          - else
            = image_tag('ic-not-approved', :class => "check-activity approve-#{@activity.english_approve}")
          %label= t('labels.english')
      %h6.text.red= t('labels.events')
      - unless @activity.locations.empty?
        %ul
          - @activity.locations&.each do |events|
            %li
              -if events.approve
                = image_tag('ic-checked', :class => "approve-#{events.approve} check-activity")
              -else
                = image_tag('ic-not-approved', :class => "approve-#{events.approve} check-activity")
              %label= "#{events.name}"
      - else
        %p= t('labels.not_location')
      - if @activity.files.attached?
        %h6.text.red= t('labels.archives')
        - @activity.files.each do |file|
          %label= file.filename
          = link_to t('labels.download'), file, disposition: "attachment", class:'button', target: :_blank
      %hr.mt-5

      %h5.mt-5.mb-5
        = t("comments.all")
      - @activity.feedback.sort_by{|fb| fb.created_at}.each_with_index do |feedback, i|
        %div{:id => "com_#{i}", class: 'comment'}
          %h6.gray.d-flex.justify-content-between{class: feedback.user.judge? ? 'judge' : 'regular'}
            = feedback.user.name? ? feedback.user.name : feedback.user.email.remove('@michelada.io').capitalize
            - if feedback.user_id == current_user.id
              .edit_comment
                = link_to t("buttons.edit"), "#", :id => "#{i}"
          %p{:class => "gray", :id => "comment_#{i}", class: 'comment-content mt-3'}
            = markdown(feedback.comment)
          %textarea{:value => "#{feedback.comment}", :hidden => true, :id => "editor_#{i}", class: "input-text mb-0 mt-2"}
          - if feedback.user_id == current_user.id
            .form_data
              %input{type: "hidden", id: "acId#{i}", value: "#{@activity.id}"}
              %input{type: "hidden", id: "fbId#{i}", value: "#{feedback.id}"}

          %hr.section
      .mt-4
        - if user_can_comment?(@activity)
          = simple_form_for [ @match, @activity, @feedback] do |f|
            = f.text_area :comment, label: t('comments.create'), placeholder: t('placeholders.comment'), input_html: { class: 'input-text mt-4'}, required: false
            = f.button :submit, t('comments.create'), class: 'button'

