%h1 
  = t('activities.all')
%br
= link_to t('activities.pending'), judge_main_index_path
%table
  %thead
    %tr
      %th 
        = t('labels.name')
      %th
        = t('labels.type')
      %th 
        = t('labels.english')
      %th 
        = t('activities.status')
    %tbody
      - @activities&.each do |activity|
        %tr
          %td
            = link_to activity.name, judge_activity_path(activity)
          %td
            = activity.activity_type
          %td
            = activity.english ? "Sí": "No"
          %td 
            = activity.status 
