%h1 
  = t('activities.my_activities')
= link_to t('buttons.add'), new_activity_path 
%br
%table
  %thead
    %tr
      %th 
        = t('labels.name')
      %th
        = t('labels.type')
      %th
        = t('labels.location')
      %th 
        = t('labels.english')
      %th 
        = t('activities.status')
      %th 
        = t('buttons.action')
    %tbody
      - @activities&.each do |activity|
        %tr
          %td
            = activity.name
          %td
            = activity.activity_type
          %td
            = activity.locations.first&.name
          %td
            = activity.english ? "Sí": "No"
          %td 
            = activity.status 
          %td
            = link_to t('buttons.edit'), edit_activity_path(activity)
            =
