%h2
  = @activity.name
  -if @activity_status.nil?
    = link_to t("activities.status_approve"),  judge_activity_activity_status_index_path(@activity), method: :post
  - else
    - if @activity_status.approve
      = link_to t("activities.status_unapprove"),  judge_activity_activity_status_path(@activity), method: :patch
    - else
      = link_to t("activities.status_approve"),  judge_activity_activity_status_path(@activity), method: :patch


  %h3
    = @activity.status
  %h3 
    = "#{t('labels.type')} #{@activity.activity_type}"
  %h3
    = t('labels.english') if @activity.english
  %h3 
    = t('labels.events') unless @activity.locations.empty?
    - @activity.locations&.each do |events|
      %h4
        = events.name

%h3
  = t('labels.comments')
- @activity.feedback.each do |feedback|
  = feedback.user.name? ? feedback.user.name : feedback.user.email
  %br
  = feedback.comment
  %br

%h2
= simple_form_for [:judge, @activity, @feedback] do |f|
  = f.input :comment, label: t('comments.all')
  = f.button :submit, t('comments.create')

