%h2
  = @activity.name
  -if @activity_status.nil?
    = link_to t("activities.statuses.aprove"),  judge_activity_activity_status_index_path(@activity), method: :post
  - else
    - if @activity_status.aprove
      = link_to t("activities.statuses.unaprove"),  judge_activity_activity_status_path(@activity), method: :patch
    - else 
      = link_to t("activities.statuses.aprove"),  judge_activity_activity_status_path(@activity), method: :patch


  %h3
    = @activity.status
  - if @activity.english
    %h3 Inglés
- @activity.feedback.each do |feedback|
  = feedback.user.name? ? feedback.user.name : feedback.user.email
  %br
  = feedback.comment
  %br

%h2 
= simple_form_for [@activity, @feedback] do |f|
  = f.input :comment, label: t('comments.all')
  = f.button :submit, t('comments.create')

