.contain.center-vertical
  .main-content.small
    .judge
      .button-group
        %a.button.pill{:href => "main#index"} En espera
        %a.button.pill{:href => "activities#show"} Todas
      %h3
        = t('user.judge.activities.on_old.remember')
        %span
          = t('user.judge.activities.on_old.objetive')
      %p= @activity.name
      %p= @activity.activity_type
      %p= t('labels.english') if @activity.english
      .locations_list.tags_box
        %ul
          - unless @activity.locations.empty?
            - @activity.locations&.each do |events|
              %p
                = events.name
      %p 
        = t('activities.status')
        -if @activity_status.nil?
          = link_to t("activities.status_approve"),  judge_activity_activity_status_index_path(@activity), method: :post
        - else
          - if @activity_status.approve
            = link_to t("activities.status_unapprove"),  judge_activity_activity_status_path(@activity), method: :patch
          - else
            = link_to t("activities.status_approve"),  judge_activity_activity_status_path(@activity), method: :patch

    %h3
    - @activity.feedback.each do |feedback|
      = feedback.user.name? ? feedback.user.name : feedback.user.email
      = feedback.comment
    
    = simple_form_for [:judge, @activity, @feedback] do |f|
      = f.input :comment, placeholder: t('comments.all'), class: 'input-text'
      = f.button :submit, t('comments.create'), class: 'button'

