.main-content.container.medium.mt-5
  .contain.center-vertical
    .judge
      %h3
        = t('user.judge.activities.on_old.remember')
        %span.text.red
          = t('user.judge.activities.on_old.objetive')
      
      -if @activity_status.nil?
        = link_to t("activities.status_approve"),  judge_activity_activity_status_index_path(@activity), method: :post
      - else
        = link_to t('activities.status_unapprove'), judge_activity_activity_status_path(@activity), method: :delete, data: {confirm: t('actions.confirm')}
      %h3
        = @activity.name
      %h6
        = @activity.activity_type
      -if @activity.activity_type == 'Post'
        %h6.text.red= t('user.judge.activities.description') if @activity.description
        %p= @activity.description
      -else
        %h6.text.red=t('user.judge.activities.description') if @activity.description
        %p= @activity.description
        -if @activity.activity_type == "Curso"
          %h6.text.red= t('user.judge.activities.intended_audence') if @activity.pitch_audience
          %p= @activity.pitch_audience
          %h6.text.red= t('user.judge.activities.outline') if @activity.abstract_outline
          %p= @activity.abstract_outline
        -else
          %h6.text.red= t('user.judge.activities.pitch') if @activity.pitch_audience
          %p= @activity.pitch_audience
          %h6.text.red= t('user.judge.activities.abstract') if @activity.abstract_outline
          %p= @activity.abstract_outline
      
      - if !@activity.locations.empty? || @activity.english
        %hr.section
        %h5
          =t('labels.extra_points')
          %em.text.red= t('labels.evaluate')
      -if @activity.english
        %p= link_to t('labels.english'), judge_activity_path(@activity), method: :patch, class: "approve-#{@activity.english_approve}"
      
      - unless @activity.locations.empty?
        %h6.text.red= t('labels.location')
        .tags_box
          %ul
            - @activity.locations&.each do |events|
              %li= link_to events.name, judge_activity_location_path(@activity, events), method: :patch, class: "approve-#{events.approve}"

    - if @activity.notes
      %h6.text= t("labels.link")
      %p= link_to t('placeholders.activity_link'), @activity.notes, target: :_blank

    - unless @activity.activity_file.url.nil? 
      = link_to t('labels.download'), @activity.activity_file.url, class:'btn_download'
    - @activity.feedback.each do |feedback|
      %h6.gray= feedback.user.name? ? feedback.user.name : feedback.user.email
      %p.gray= feedback.comment
      %hr.section
      
    = simple_form_for [:judge, @activity, @feedback] do |f|
      = f.input :comment, label: t('comments.create') , placeholder: t('placeholders.comment'), input_html: { class: 'input-text'}, required: false
      = f.button :submit, t('comments.create'), class: 'button'

